body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.acoes {
    margin-bottom: 20px;
}

.acoes button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    background-color: #820dbcc1;
    color: #fff;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #f0f0f0;
}


